<app-navbar></app-navbar>
<div>
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                    Envios</h1>
            </div>
        </div>
    </div>

    <!-- tabla -->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <div id="kt_app_content_container" class="app-container container-xxl">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center py-4">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-search fs-3 me-3"></i>
                        <input type="text" class="form-control w-250px" placeholder="Buscar" [(ngModel)]="buscar"
                            autocomplete="off" />
                    </div>
                    <div class="d-flex">
                        <button type="button" class="btn btn-primary" (click)="openRegisterModal(null,'crear')">
                            <i class="fas fa-plus-circle me-2"></i> Agregar
                        </button>
                    </div>
                </div>

                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr class="text-gray-800">
                                    <th class="col-md-1">N°</th>
                                    <th class="col-auto">Nombre</th>
                                    <th class="col-auto">Direccion</th>
                                    <th class="col-md-1 text-center">Pais</th>
                                    <th class="col-md-1 text-center">Departamento</th>
                                    <th class="col-md-1 text-center">Ciudad</th>
                                    <th class="col-md-1 text-center">Telefono</th>
                                    <th class="col-md-2 text-center">Estado</th>
                                    <th class="col-md-1 text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let item of sedeLista! | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item?.nombre }}</td>
                                    <td>{{ item.direccion }}</td>
                                    <td class="text-center">{{ item.paisDesc }}</td>
                                    <td class="text-center">{{ item.departamentoDesc }}</td>
                                    <td class="text-center">{{ item.ciudadDesc }}</td>
                                    <td class="text-center">{{ item.telefono }}</td>
                                    <td class="text-center">
                                        <span class="badge"
                                            [ngClass]="{'bg-success': item.estado === 'HAB', 'bg-danger': item.estado === 'Deshabilitado'}">
                                            {{ item.estado }}
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-sm btn-outline-primary"
                                            (click)="openRegisterModal(item,'editar')" ngbTooltip="Editar"
                                            placement="bottom">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-danger"
                                            ngbTooltip="Eliminar" placement="bottom">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr *ngIf="sedeLista?.length == 0">
                                    <td colspan="6" class="text-muted text-center">No existe registro de sedes.</td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Paginación -->
                        <div class="d-flex justify-content-end">
                            <pagination-controls (pageChange)="page = $event" class="pagination-sm"
                                style="margin-top: 10px;">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>