<form >
    <div class="modal-header bg-primary p-4">
        <h5 class="modal-title text-white px-4">Registrar tabla</h5>
        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" wire:click="limpiar()"
            data-bs-dismiss="modal" aria-label="Close">
            <i class="ki-duotone ki-cross fs-2x"><span class="path1"></span><span
                    class="path2"></span></i>
        </div>
    </div>

    <div class="modal-body pb-0">
        <div class="row">

          <div class="col-md-12 pb-3">
            <div class="form-floating mb-7">
              <input type="text" class="form-control" formControlName="descripcion_larga" maxlength="255" autocomplete="off" />
              <label class="form-label required">Descripción larga</label>
              <div *ngIf="catalogoForm.get('descripcion_larga')?.invalid && catalogoForm.get('descripcion_larga')?.touched" class="text-danger">
                <span *ngIf="catalogoForm.get('descripcion_larga')?.errors?.['required']">Descripción larga es obligatoria.</span>
                <span *ngIf="catalogoForm.get('descripcion_larga')?.errors?.['maxlength']">Descripción larga no debe exceder los 100 caracteres.</span>
              </div>
            </div>
          </div>

          <div class="col-md-12 pb-3">
            <div class="form-floating">
              <input type="text" class="form-control" formControlName="descripcion_corta" maxlength="5" autocomplete="off" />
              <label class="form-label required">Descripción corta</label>
              <div *ngIf="catalogoForm.get('descripcion_corta')?.invalid && catalogoForm.get('descripcion_corta')?.touched" class="text-danger">
                <span *ngIf="catalogoForm.get('descripcion_corta')?.errors?.['required']">Descripción corta es obligatoria.</span>
                <span *ngIf="catalogoForm.get('descripcion_corta')?.errors?.['maxlength']">Descripción corta no debe exceder los 5 caracteres.</span>
              </div>
            </div>
          </div>

        </div>
      </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light text-hover-primary" data-bs-dismiss="modal"
            wire:click="limpiar()">
            <div class="d-flex justify-content-center align-items-center">
                <span><i class="fa-solid fa-ban fs-5 pe-2"></i>Cancelar</span>
            </div>
        </button>
        <button type="submit" class="btn btn-primary">
            <div class="d-flex justify-content-center align-items-center">
                <span><i class="fa-solid fa-floppy-disk fs-5 pe-2"></i>Guardar</span>
            </div>
        </button>
    </div>
</form>